@import url("https://cdn.jsdelivr.net/npm/modern-normalize@2.0.0/modern-normalize.min.css");
@import url("https://cdn.jsdelivr.net/npm/@fontsource/inter@5.0.12/latin.css");

/* font: https://fonts.google.com/selection/embed */
/* Styles can go here */
:root {
	font-family: "Inconsolata", monospace;
	font-optical-sizing: auto;
	line-height: 1.5;
	font-weight: 400;
	font-style: normal;

	color-scheme: light dark;

	background-color: #fff0db;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

section {
	padding: 20px;
	height: 100vh;
}

#intro-section {
	padding-top: 0px;
	margin-top: -100px;
}

#app {
	overflow: scroll-y;
	margin: 100px;
}

#title-page {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#nps-logo {
	width: 200px;
}

#map-container {
	display: flex;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
	/* border: 1px solid black; */
}

#map {
	/* border: 1px solid black; */
	height: 70vh;
	/* background-color: aliceblue; */
	/* flex-grow: 3; */
	width: 70%;
	margin-right: 40px;
	/* margin: 20px; */
}

.leaflet-interactive {
	stroke-width: 2px;
	fill-opacity: 0.2;
}

#park_info {
	/* margin: 20px; */
	border-radius: 5px;
	height: 70vh;
	/* flex-grow: 1; */
	width: 30%;
	display: flex;
	flex-direction: column;
	text-wrap: wrap;
	align-items: center;
	justify-content: center;
	padding-left: 24px;
	position: relative; /* Ensure the container is positioned relative */
}

.park_info_open {
	border: 0.25px solid black;
}
.park_info_closed {
	border: none;
}

#park_info_x {
	position: absolute; /* Add this line */
	top: 10px; /* Adjust as needed */
	right: 10px; /* Adjust as needed */
	background: none;
	border: none;
	font-size: 16px;
	cursor: pointer;
	z-index: 10;
}

#species-category-treemap {
	width: 100%;
	display: flex;
	align-items: center;
	align-self: center;
	justify-content: center;
}

.park-selected {
	stroke: #ff499e;
	stroke-width: 4px;
}

#park_info_data_maps_container {
	width: 100%;
	overflow-y: scroll;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.buttonContainer {
	/* border: 1px solid black; */
	height: 5vh;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 10px 0;
}

#biodiversity-charts {
	width: 100%;
}

#bar-chart {
	height: 70vh;
	border: 1px solid black;
	width: 100%;
}

#scatterplot {
	display: block;
	height: 70vh;
	border: 1px solid black;
	width: 100%;
}

#footer {
	width: 100%;
	color: #fff0db;
	background-color: black;
	border-top: 1px solid black;
	padding: 10px;
	text-align: center;
	height: 5vh;
	bottom: 0;
}

.down_arrow {
	background: none;
	border: none;
	&:hover {
		cursor: pointer;
		font-size: larger;
		/* text-decoration: underline; */
		/* text-decoration-color: #888d2a; */
		/* color: #888d2a; */
		/* font-weight: bold; */
	}
}

/* #down_arrow:hover {
	cursor: pointer;
	font-size: larger;
	text-decoration: underline;
	text-decoration-color: #888d2a;
} */

.arrow-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 32px;
}

.hidden {
	display: none;
}

.treemapButtons {
	font-size: medium;
}

.animalButtonSelected {
	background-color: #6e66d4;
	color: #fff0db;
}

.animalButtonNotSelected {
	background-color: inherit;
	color: #6e66d4;
	border: 1px solid #6e66d4;
}

.plantButtonSelected {
	background-color: #888d2a;
	color: #fff0db;
}

.plantButtonNotSelected {
	background-color: inherit;
	color: #888d2a;
	border: 1px solid #888d2a;
}

button {
	border: none;
	padding: 5px;
	margin: 5px;
	border-radius: 5px;
	&:hover {
		cursor: pointer;
		font-weight: bold;
	}
}

select {
	margin-right: 10px;
}

.tooltip {
	position: absolute;
	background: white;
	padding: 10px;
	display: none;
	z-index: 1000;
	border-radius: 5px;
}
